*{
    font-family: Arial, sans-serif;
    margin: 0;
	padding: 0;
}

header{
    background: #4E93B0;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.header-banner{
    position: relative;
    width: 100%;
    max-width: 1280px;
}

.header-banner h1, .header-banner h2, nav ul li{
    color: #E9F7FA;
}
.header-banner h1{ font-size: 3rem; }
.header-banner h2{ font-size: 1.5rem; }
.header-banner div{ padding: 80px 100px; }

.header-banner img{
    position: absolute;
    right: 0;
    top: 50px;
    max-width: 800px;
}

nav{
    background: #74AEC4;
    display: flex;
    justify-content: space-between;
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
    font-size: 1.2rem;
    transition: .3s;
}

nav ul li .social-media{
    text-decoration: none;
    padding: 0px 20px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul:nth-child(2){
    margin-right: 60px;
}

nav ul li img{
    width: 100%;
    max-width: 25px;
}

nav ul li .menu-links{
    color: inherit;
    text-decoration: none;
    padding: 0px 60px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li:hover{
    background: #4E93B0;
    cursor: pointer;
}

.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #CDEBF3;
    color: #545454;
}

.container{
    width: 100%;
    max-width: 1300px;
    background: #E9F7FA;
    padding-top: 20px;
    padding-bottom: 80px;
}

.section{
    padding: 0 80px;
}

.separator{
    width: 80%;
    margin: 60px auto;
    height: 1px;
    background-color: #545454;
}

.section-o-que-fazemos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-title{
    color: #4E93B0;
    font-size: 2rem;
    margin: 25px 0;
}

.section-o-que-fazemos h3{
    text-align: center;
    margin-top: 60px;
}

.section-o-que-fazemos div{
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
    text-align: center;
}

.section-o-que-fazemos div p:nth-child(1){
    color: #4E93B0;
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.section-o-que-fazemos img{
    margin-top: 40px;
    width: 100%;
    max-width: 100px;
}


